* text=auto eol=lf
*.{cmd,[bB][aA][tT]} text eol=crlf

*.{png,jpg,jpeg,gif,webp,ico,svg} binary
*.{glb,gltf,obj,fbx,stl} binary
*.{hdr,exr} binary
*.{mp3,wav,ogg,mp4,mov} binary
*.{ttf,otf,woff,woff2} binary

*.md text
*.json text